@{
}

@model LoginModel
<h3>Giriş Yap</h3>

@if(string.IsNullOrWhiteSpace(ViewBag.Hata) == false)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Hata
    </div>
}

<form class="mt-3" action="/Admin/Auth/Index" method="post">
    <div class="mb-3">
        <label class="form-label">Kullanıcı Adı</label>
        <input type="text" class="form-control" asp-for="Username">
    </div>
    <div class="mb-3">
        <label class="form-label">Şifre</label>
        <input type="password" class="form-control" asp-for="Password">
    </div>
    <button type="submit" class="btn btn-primary">Giriş</button>
</form>